<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Angular Yelp Example</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="yelpApp">
    <div class="container" ng-controller="HomeController">
      <div class="header">
        <h3 class="text-muted">Angular Yelp Example</h3>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h1>Hello, {{city}}!</h1>
          <form ng-submit="getWeather()" role="form">
            <input type="text" ng-model="city" placeholder="Enter a city..."> <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <h2 ng-show="weather">The temperature in {{weather.city.name}} is {{weather.list[0].temp.day}}&deg;</h2>
        </div>
        <div class="col-md-8">
        <h1>Local Businesses:</h1>
          <input type="text" ng-model="search.name" placeholder="Filter list by name...">
          <button ng-click="predicate='name'" class="btn btn-default">Name</button>
          <button ng-click="predicate='avg_rating'" class="btn btn-default">Rating</button>
          <button ng-click="reverse=!reverse" class="btn btn-default">+/-</button>
          <ul>
            <li ng-repeat="biz in nearby | filter:search | orderBy:predicate:reverse">
              {{biz.name}}
              <div ng-bind="biz.avg_rating"></div>
              <img ng-src="{{biz.photo_url}}">
            </li>
          </ul>
          <pre>{{nearby || json}}</pre>
        </div>
      </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>
